[Desktop Entry]
Version=1.0
Type=Application
Name=Shitty YTDLP Helper
GenericName=YouTube Video Downloader
Comment=Download videos and audio from YouTube and other sites
Exec=ShittyYTDLPHelper %U
Icon=SYHSB
Terminal=false
StartupNotify=true
Categories=AudioVideo;Video;Network;
Keywords=video;audio;downloader;youtube;yt-dlp;ffmpeg;
StartupWMClass=ShittyYTDLPHelper
MimeType=text/uri-list;application/x-mswf;
X-AppImage-Version=1.0.0
X-AppImage-Name=Shitty YTDLP Helper
